name: net

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  net:
    name: .NET

    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            3.1.x
            8.0.x
      - name: Restore
        run: dotnet restore
      - name: Build and Tests
        run: dotnet test --configuration Release --no-restore --verbosity normal --logger 'trx;LogFilePrefix=test-results'
      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-results-${{ matrix.os }}
          path: ${{ github.workspace }}/**/tests/TestResults/*
          if-no-files-found: error
